<div class="col-xs-3"></div>
<div class="col-xs-9">

  <div class="card mt-4">
    <%= image_tag @ad.picture.url(:large), class: 'card-img-top img-fluid' %>
    <div class="card-body">
      <h3 class="card-title"><%= @ad.title %></h3>
      <h4><%= humanized_money_with_symbol @ad.price %></h4>
      <p class="card-text"><%= @ad.description %></p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Product Reviews
    </div>
  </div>
  <!-- /.card -->

</div>
<!-- /.col-xs-9 -->